// Colors


:root {
  --basic-blue: #161c35;
  --basic-blue-light: #1d2e5b;
  --basic-blue-light-opacity: rgb(29, 46, 91, 0.3);
  --basic-white: #ffffff;
  --basic-white-opacity3: rgba(255, 255, 255, 0.3);
  --basic-black: #000000;
  --basic-red: #ff5c23;

  --black-opacity: rgb(0, 0, 0, 0.3);

  --basic-yellow: #ffd74b;
  --basic-yellow-opacity3: rgba(255, 215, 75, 0.3);
  --special-yellow-dark: #ffbd30;
  --special-yellow-dark-opacity3: rgba(255, 189, 48, 0.3);
  --special-orange: #ff8d30;
  --light-orange: #ffa530;
  --special-yellow: #f3c72b;

  --basic-background: #e5e5e5;
  --background: #edeff6;
  --background-light: #c4c4c4;
  --bacground-country-filter: #e2e5f2;
  --light-grey: #d6daed;

  --dark-blue: #192144;
  --special-blue-dark: #121936;
  --special-blue-light: #dfe3f0;

  --special-grey: #444444;
  --grey-opacity: rgba(68, 68, 68, 0.3);
  --blue-opacity: rgba(22, 28, 53, 0.3);

  --business-button-background: #f3f4f8;
  --profile-background: #e6e8f1;
  --plans-background: #d4d9eb;

  --bright-blue: #132576;
}

//Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
