.address {
  border-radius: 0 0 25px 25px;
  padding-top: 65px;
  background-color: var(--basic-yellow);
}

.address__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-blue-light);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 32px;
}

.address__button {
  border: 3px solid var(--dark-blue);
  margin-bottom: 32px;
}

.address__map {
  background-image: url("../../img/background-map.jpg");
}
