.button {
  @include btn-reset;
  display: flex;
  box-sizing: border-box;
  width: 270px;
  height: 62px;
  border-radius: 10px;
  background-color: var(--basic-yellow);
  padding-left: 21px;
  padding-top: 22px;
  padding-bottom: 21px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: var(--basic-blue-light);
}
