.contacts__phone,
.contacts__email {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-blue);
  text-transform: uppercase;
  margin-left: 61px;
}

.contacts__phone::before {
  content: "";
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-color: var(--dark-blue);
}
