.dropdown__inner {
  width: 220px;
  height: 42px;
  background-color: var(--basic-blue-light);
}

.dropdown__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  margin: 0;
  padding-top: 13px;
  padding-left: 17px;
}
