.user-block__authorization {
  display: inline-block;
  box-sizing: border-box;
  width: 270px;
  height: 50px;
  margin-bottom: 61px;
  border-radius: 25px;
  padding: 12px 81px 8px 78px;
  background-color: var(--basic-yellow);
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  color: var(--basic-blue);
  text-transform: uppercase;
}
