.page-footer {
  background-color: var(--basic-white);
  border-radius: 25px 25px 0 0;
  padding-top: 37px;
}

.page-footer__logo {
  width: 96px;
  height: 16px;
  margin-left: 87px;
  margin-bottom: 40px;

  background-image: url("../../img/logo-mobile.svg");
  background-repeat: no-repeat;

  display: flex;
}

.page-footer__social {
  margin-left: 67px;
  margin-bottom: 37px;
}

.page-footer__link {
  width: 45px;
  height: 45px;

  border-radius: 50%;

  background-color: var(--basic-yellow);

  display: flex;
}
