.page-header {
  background-color: var(--basic-blue);
}

.page-header__inner {
  min-height: 73px;

  // position: relative;

  background-color: var(--basic-blue);
}

.page-header__content {
  min-height: 495px;
  // position: absolute;
  // top: 73px;
  // right: 0;

  background-color: var(--basic-white);
}

.page-header__wrapper {
  padding-top: 23px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.page-header__burger {
  position: absolute;
  top: 0;
  right: 0;
}

.page-header__burger--open {
  @include btn-reset;

  position: absolute;
  right: 0;
  top: 0;

  &::before {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 1.5px;
    margin-bottom: 5px;

    background-color: var(--basic-white);
  }

  &::after {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 1.5px;

    background-color: var(--basic-white);
  }
}

.page-header__burger--close {
  @include btn-reset;

  position: absolute;
  right: 0;
  top: 0;

  &::before {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 1.5px;
    margin-bottom: 5px;

    transform: rotate(45deg);

    background-color: var(--grey);
  }

  &::after {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 1.5px;

    transform: rotate(-45deg);

    background-color: var(--grey);
  }
}

.page-header__text {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
}

.page-header__contacts {
  margin-bottom: 50px;
  margin-top: 66px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__phone {
  padding-left: 61px;

  position: relative;

  &::before {
    content: "";
    width: 45px;
    height: 45px;
    border-radius: 50px;

    display: block;

    position: absolute;
    top: -15px;

    background-color: var(--special-blue-dark);
    background-image: url("../../img/icons/icon-old-phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.page-header__email {
  padding-left: 61px;

  position: relative;

  &::before {
    content: "";
    width: 45px;
    height: 45px;
    border-radius: 50px;

    display: block;

    position: absolute;
    top: -15px;

    background-color: var(--special-blue-dark);
    background-image: url("../../img/icons/icon-mail-envelope-closed.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.page-header__item {
  margin-bottom: 27px;

  &:last-child {
    margin-bottom: 53px;
  }
}

.page-header__social {
  // display: flex;
  // flex-wrap: nowrap;
  // justify-content: space-around;

  @media (min-width: $tablet-width) {
    margin-left: 63px;
    justify-content: start;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
