
.about-us {
  background-color: var(--basic-blue);
  background-image: url("../../img/globe-back-mobile\ 1.png"),url("../../img/traveller-illustration-mobile\ 1.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center, 60px 150px;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/tablet/traveller-illustration-tablet-1.png");
    // background-size: 372px 451px;
    background-repeat: no-repeat;
    background-position: 260px 262px;
  }

  @media (min-width: $desktop-width) {
    min-height: 640px;
    background-image: url("../../img/traveller-illustration-desktop-1.png");
    background-repeat: no-repeat;
    background-position: 10px 10px;
  }
}

.about-us__inner {
  // background-image: url("../../img/traveller-illustration-mobile\ 1.png");
  // background-repeat: no-repeat;
  // background-position: center;


  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.about-us__title {
  margin: 0;
  padding-top: 20px;
  margin-bottom: 245px;

  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: var(--basic-white);

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 86px;
    width: 399px;
    margin-left: 145px;
    margin-right: 144px;

    font-size: 60px;
    line-height: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 101px;
  }
}

.about-us__list {
  margin-bottom: 28px;
  display: flex;
  flex-wrap: nowrap;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.about-us__link {
  width: 40px;
  height: 40px;

  border-radius: 50px;

  background-color: var(--special-orange);

  display: flex;
}

.about-us__link--phone {
  background-image: url("../../img/icons/icon-calling-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.about-us__link--email {
  background-color: var(--special-yellow-dark);
  background-image: url("../../img/icons/icon-email.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.about-us__link--authorization {
  width: 190px;
  height: 40px;
  padding-top: 12px;
  box-sizing: border-box;

  border-radius: 25px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: var(--basic-blue);
  text-transform: uppercase;
  text-align: center;

  background-color: var(--basic-yellow);

  display: inline-block;
}

.about-us__review {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    padding-left: 32px;

    font-size: 28px;
    line-height: 33px;
  }
}

.about-us__author {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);

  @media (min-width: $tablet-width) {
    padding-left: 32px;
    margin-bottom: 211px;

    font-size: 21px;
    line-height: 25px;
  }
}
