.button {
  @include btn-reset;

  width: 270px;
  height: 62px;
  padding-left: 21px;
  padding-top: 22px;
  padding-bottom: 21px;
  box-sizing: border-box;

  border-radius: 10px;

  background-color: var(--basic-yellow);

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: var(--basic-blue-light);

  display: block;
}
