.companions-country__title {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: var(--special-grey);
}

.companions-country__list {
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: var(--basic-blue-light);
  text-transform: uppercase;
}
