.contacts__phone,
.contacts__email {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-blue);
  text-transform: uppercase;
}

// .contacts__phone {
//   &::before {
//     content: "";
//     width: 45px;
//     height: 45px;
//     border-radius: 50px;

//     display: block;

//     position: absolute;

//     background-color: var(--special-blue-dark);
//     z-index: 1;
//   }
// }


// .contacts__link {
//   &::before {
//     content: "";
//     width: 45px;
//     height: 45px;
//     border-radius: 50px;

//     display: block;

//     position: absolute;

//     background-color: var(--special-blue-dark);
//     z-index: 1;
//   }
// }

// .contacts__icon-phone-promo {
//   width: 17px;
//   height: 15px;
//   margin-left: 14px;
//   margin-right: 30px;
//   fill: var(--basic-yellow);
//   z-index: 2;
// }
