.counter__label {
  margin-bottom: 8px;
  margin-right: 34px;

  display: flex;
  justify-content: space-between;

  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--basic-blue-light);
  text-transform: uppercase;
}

.counter__units {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--basic-blue-light-opacity);
  text-transform: uppercase;
}

.counter__number {
  width: 220px;
  height: 43px;

  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: var(--basic-blue-light);
  text-align: center;
}

.counter__inner {
  position: relative;
}

.counter__button {
  @include btn-reset;
}

.counter__button--decrease {
  position: relative;
  top: 30px;
  left: 10px;

  &::before {
    content: "";
    width: 14px;
    height: 2px;
    color: var(--grey);
    position: absolute;
    top: 20px;
    left: 0;
  }
}

.counter__button--increase {
  position: relative;
  top: -30px;
  left: 180px;
}
