.level__number {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: var(--basic-white);
}

.level__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: var(--basic-white);
}
