.plan-country__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: var(--basic-blue-light);
}

.plan-country__textarea {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--special-grey);
}
