.plan {
  border-radius: 10px;

  background-color: var(--basic-white);
}

.plan__title {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--basic-blue-light);
}

.plan__text {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--special-grey);
}

.plan__counter {
  margin-bottom: 20px;
}

.plan__link {
  width: 221px;
  height: 40px;
  padding: 7px 41px 7px 43px;
  box-sizing: border-box;

  border-radius: 20px;

  background-color: var(--basic-yellow);

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-blue-light);

  display: flex;
}

.plan__link--prew {
  background-color: transparent;
}

.plan__button {
  @include btn-reset;

  width: 230px;
  height: 42px;
  padding: 8px 69px 8px 69px;
  box-sizing: border-box;

  border-radius: 20px;

  background-color: var(--basic-yellow);

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
