.service {
  border-radius: 0 0 20px 20px;

  position: relative;

  z-index: 6;

  background-color: var(--dark-blue);
  background-image: url("../../img/about-mobile.png");
  background-repeat: no-repeat;
}

.service__inner {
  padding-bottom: 82px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 308px;
  }

  @media (min-width: $desktop-width) {
    // display: grid;
    grid-template-columns: 630px;
  }
}

.service__title {
  margin: 0;
  padding-top: 33px;

  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: var(--special-orange);

  @media (min-width: $tablet-width) {
    font-size: 45px;
    line-height: 45px;
  }
}

.service__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
  }
}

.service__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;
  }
}

.service__button {
  width: 276px;
  height: 80px;
  padding-top: 29px;
  padding-bottom: 27px;
  padding-left: 32px;

  border-radius: 20px;

  background-color: var(--basic-yellow);
  color: var(--basic-blue-light);

  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
