.weeks__button {
  @include btn-reset;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--grey-opacity);
  text-align: center;
}

.weeks__list {
  display: flex;
  flex-wrap: nowrap;
}
